package ${packageName}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import com.tang.commons.utils.AjaxResult;
import com.tang.commons.utils.page.PageUtils;
import com.tang.commons.utils.page.TableDataResult;
import ${packageName}.entity.$ClassName;
import ${packageName}.service.${ClassName}Service;

/**
 * ${classComment}逻辑控制层
 *
 * @author $author
 */
@RestController
@RequestMapping("/$moduleName/$businessName")
public class ${ClassName}Controller {

    @Autowired
    private ${ClassName}Service ${className}Service;

    /**
     * 查询${classComment}列表
     *
     * @param $className ${classComment}对象
     * @return ${classComment}列表
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:list')")
    @GetMapping("/list")
    public TableDataResult list($ClassName $className){
        PageUtils.startPage();
        var list = ${className}Service.select${ClassName}List($className);
        return PageUtils.getDataTable(list);
    }

    /**
     * 通过${classComment}主键查询${classComment}信息
     *
     * @param $primaryKey ${classComment}主键
     * @return ${classComment}信息
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:list')")
    @GetMapping("/{$primaryKey}")
    public AjaxResult select${ClassName}By${PrimaryKey}(@PathVariable Long $primaryKey) {
        return AjaxResult.success(${className}Service.select${ClassName}By${PrimaryKey}($primaryKey));
    }

    /**
     * 新增${classComment}信息
     *
     * @param $className ${classComment}信息
     * @return 影响行数
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:add')")
    @PostMapping
    public AjaxResult add(@RequestBody $ClassName $className) {
        return AjaxResult.success(${className}Service.insert${ClassName}($className));
    }

    /**
     * 通过${classComment}主键修改${classComment}信息
     *
     * @param $className ${classComment}信息
     * @return 影响行数
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:edit')")
    @PutMapping
    public AjaxResult edit(@RequestBody $ClassName $className) {
        return AjaxResult.success(${className}Service.update${ClassName}By${PrimaryKey}($className));
    }

    /**
     * 通过${classComment}主键删除${classComment}信息
     *
     * @param $primaryKey ${classComment}主键
     * @return 影响行数
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:delete')")
    @DeleteMapping("/{$primaryKey}")
    public AjaxResult delete(@PathVariable Long $primaryKey) {
        return AjaxResult.success(${className}Service.delete${ClassName}By${PrimaryKey}($primaryKey));
    }

    /**
     * 通过${classComment}主键数组批量删除${classComment}信息
     *
     * @param ${primaryKey}s ${classComment}主键数组
     * @return 影响行数
     */
    @PreAuthorize("@auth.hasPermission('$moduleName:$businessName:delete')")
    @DeleteMapping
    public AjaxResult deletes(@RequestBody Long[] ${primaryKey}s) {
        return AjaxResult.success(${className}Service.delete${ClassName}By${PrimaryKey}s(${primaryKey}s));
    }

}
