import request from '@/utils/request'
import { ${ClassName}Query, ${ClassName}Form } from './types'

/**
 * 查询${classComment}列表
 *
 * @param queryParams 查询参数
 */
export const list$ClassName = (queryParams: ${ClassName}Query) => {
  return request({
    url: '/$moduleName/$businessName/list',
    method: 'get',
    params: queryParams
  })
}

/**
 * 查询${classComment}信息
 *
 * @param $primaryKey ${classComment}主键
 */
export const get$ClassName = ($primaryKey: number) => {
  return request({
    url: '/$moduleName/$businessName/' + $primaryKey,
    method: 'get'
  })
}

/**
 * 添加${classComment}信息
 *
 * @param data ${classComment}信息
 */
export const add$ClassName = (data: ${ClassName}Form) => {
  return request({
    url: '/$moduleName/$businessName',
    method: 'post',
    data
  })
}

/**
 * 修改${classComment}信息
 *
 * @param data ${classComment}信息
 */
export const edit$ClassName = (data: ${ClassName}Form) => {
  return request({
    url: '/$moduleName/$businessName',
    method: 'put',
    data
  })
}

/**
 * 删除${classComment}信息
 *
 * @param $primaryKey ${classComment}主键
 */
export const delete$ClassName = ($primaryKey: number) => {
  return request({
    url: '/$moduleName/$businessName/' + $primaryKey,
    method: 'delete'
  })
}

/**
 * 批量删除${classComment}信息
 *
 * @param ${primaryKey}s ${classComment}主键数组
 */
export const delete${ClassName}s = (${primaryKey}s: number[]) => {
  return request({
    url: '/$moduleName/$businessName',
    method: 'delete',
    data: ${primaryKey}s
  })
}
