/**
 * ${classComment}对象
 */
export interface $ClassName {
#foreach($column in $columnList)
  $column.javaField: $column.tsType
#end
}

/**
 * ${classComment}表单对象
 */
export interface ${ClassName}Form {
#foreach($column in $columnList)
  $column.javaField: $column.tsType
#end
}

/**
 * ${classComment}查询参数
 */
export interface ${ClassName}Query extends PageQuery {
#foreach($column in $columnList)
  $column.javaField: $column.tsType
#end
}
