<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.system.mapper.SysMenuMapper">

    <resultMap id="SysMenuMap" type="com.tang.system.entity.SysMenu">
        <result property="menuId" column="menu_id" />
        <result property="parentId" column="parent_id" />
        <result property="ancestors" column="ancestors" />
        <result property="menuName" column="menu_name" />
        <result property="path" column="path" />
        <result property="component" column="component" />
        <result property="permission" column="permission" />
        <result property="icon" column="icon" />
        <result property="menuType" column="menu_type" />
        <result property="visible" column="visible" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="SysMenuVo">
        select distinct m.menu_id, m.parent_id, m.ancestors, m.menu_name, m.path, m.component, m.permission, m.icon, m.menu_type, m.visible, m.sort, m.status, m.del_flag, m.create_by, m.create_time, m.update_by, m.update_time, m.remark
        from sys_menu m
            left join sys_role_menu rm on m.menu_id = rm.menu_id
    </sql>

    <select id="selectMenuList" resultMap="SysMenuMap">
        <include refid="SysMenuVo" />
        where m.del_flag = '0'
        <if test="menuName != null and menuName != ''">
            and m.menu_name like concat('%', #{menuName}, '%')
            or to_pinyin(m.menu_name) like concat('%', #{menuName}, '%')
        </if>
        <if test="status != null and status != ''">
            and m.status = #{status}
        </if>
        <if test="menuType != null and menuType != ''">
            <if test="menuType == 'D'.toString()">
                and m.menu_type = 'D'
            </if>
            <if test="menuType == 'M'.toString()">
                and m.menu_type in ('D', 'M')
            </if>
        </if>
        order by m.sort
    </select>

    <select id="selectMenuChildrenByMenuId" resultMap="SysMenuMap">
        <include refid="SysMenuVo" />
        where find_in_set(#{menuId}, ancestors)
    </select>

    <select id="selectMenuByMenuId" resultMap="SysMenuMap">
        <include refid="SysMenuVo" />
        where m.menu_id = #{menuId}
    </select>

    <select id="selectMenuListByUserId" resultMap="SysMenuMap">
        <include refid="SysMenuVo" />
            left join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id = #{userId}
            and m.del_flag = '0'
            and m.status = '0'
    </select>

    <select id="selectMenuListByRoleId" resultMap="SysMenuMap">
        <include refid="SysMenuVo" />
        where rm.role_id = #{roleId}
    </select>
    <select id="selectCountMenuByParentId" resultType="java.lang.Integer">
        select count(1) from sys_menu where parent_id = #{parentId}
    </select>

    <insert id="insertMenu" keyProperty="menuId" useGeneratedKeys="true">
        insert into sys_menu (
            <if test="menuId != null and menuId != 0">menu_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null and ancestors != ''">ancestors,</if>
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="component != null and component != ''">component,</if>
            <if test="permission !=null and permission != ''">permission,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="menuType != null and menuType != ''">menu_type,</if>
            <if test="visible != null and visible != ''">visible,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
        ) values (
            <if test="menuId != null and menuId != 0">#{menuId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null and ancestors != ''">#{ancestors},</if>
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="component != null and component != ''">#{component},</if>
            <if test="permission !=null and permission != ''">#{permission},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="menuType != null and menuType != ''">#{menuType},</if>
            <if test="visible != null and visible != ''">#{visible},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
        )
    </insert>

    <insert id="insertMenus">
        insert into sys_menu (parent_id, ancestors, menu_name, permission, menu_type, sort, create_by, create_time, remark) values
        <foreach item="menu" index="index" collection="menuList" separator=",">
            (#{menu.parentId}, #{menu.ancestors}, #{menu.menuName}, #{menu.permission}, #{menu.menuType}, ${index + 1}, #{menu.createBy}, sysdate(), #{menu.remark})
        </foreach>
    </insert>

    <insert id="insertRoleMenu">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach item="menuId" index="index" collection="menuIds" separator=",">
            (#{roleId},#{menuId})
        </foreach>
    </insert>

    <update id="updateMenuByMenuId">
        update sys_menu
        <set>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="permission !=null">permission = #{permission},</if>
            <if test="icon !=null and icon != ''">icon = #{icon},</if>
            <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
            <if test="visible != null and visible != ''">visible = #{visible},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where menu_id = #{menuId}
    </update>

    <update id="updateMenuChildren">
        update sys_menu set ancestors = #{ancestors} where menu_id = #{menuId}
    </update>

    <update id="updateMenuStatusByMenuId">
        update sys_menu set status = #{status} where menu_id = #{menuId}
    </update>

    <delete id="deleteMenuByMenuId">
        update sys_menu set del_flag = '1' where menu_id = #{menuId}
    </delete>

    <delete id="deleteRoleMenuByRoleId">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>

    <delete id="deleteRoleMenuByRoleIds">
        delete from sys_role_menu where role_id in
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>
