# 项目配置
tang:
  # 项目名称
  name: 糖猫猫后台管理系统
  # 项目版本
  version: 1.6.2
  # 文件上传路径
  uploads: /home/tang/uploads/tang-boot
  # 演示模式
  demo-mode: false
  # 单用户登录
  single-login: false

# 服务配置
server:
  # 服务端口
  port: 8080
  servlet:
    # 项目上下文路径
    context-path: /
  tomcat:
    # 设置字符集编码方式
    uri-encoding: UTF-8
    # 设置最大连接数
    accept-count: 1000
    threads:
      # 最大线程数
      max: 1000
      # 最小线程数
      min-spare: 100
  # 配置压缩
  compression:
    # 是否开启压缩
    enabled: true
    # 压缩类型
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    # 压缩最小值
    min-response-size: 1024

# Spring 配置
spring:
  # 运行环境
  profiles:
    active: @profile.active@
  # Jackson 配置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      # 文件上传大小限制
      max-file-size: 10MB
      # 文件上传总大小限制
      max-request-size: 100MB

# MyBatis 配置
mybatis:
  # 搜索包别名
  # type-aliases-package: com.tang.**.entity
  # 映射文件路径
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  # 配置文件路径
  # config-location: classpath:mybatis/mybatis-config.xml

# 日志配置
logging:
  # 日志格式
  pattern:
    dateformat: HH:mm:ss.SSS

# token 配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥 Create by https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx 256-bit with Hex
  secret: 556A586E3272357538782F413F4428472D4B6150645367566B59703373367639
  # 时间颗粒度
  time-unit: hours
  # 令牌有效期
  expire-time: 2

# 第三方登录配置
oauth:
  github:
    # 客户端ID
    client-id: xxxxxxxxxxxxxxxxxxxx
    # 客户端密钥
    client-secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
