<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <resultMap id="${ClassName}Map" type="${packageName}.entity.$ClassName">
#foreach ($column in $columnList)
        <result property="$column.javaField" column="$column.columnName" />
#end
    </resultMap>

    <sql id="${ClassName}Vo">
        select#foreach ($column in $columnList) ${tableAlias}.$column.columnName#if ($foreach.count != $columnList.size()),#end#end
        from $tableName $tableAlias
    </sql>

    <select id="select${ClassName}List" resultMap="${ClassName}Map">
        <include refid="${ClassName}Vo" />
        <where>
#foreach ($column in $columnList)
#if($column.queryType == "equal")
            <if test="$column.javaField != null#if($column.javaType == 'String') and $column.javaField != ''#end">
                and ${tableAlias}.$column.columnName = #{$column.javaField}
            </if>
#end
#if($column.queryType == "fuzzy")
            <if test="$column.javaField != null#if($column.javaType == 'String') and $column.javaField != ''#end">
                and ${tableAlias}.$column.columnName like concat('%', #{$column.javaField}, '%')
            </if>
#end
#end
        </where>
    </select>

    <select id="select${ClassName}By$PrimaryKey" resultMap="${ClassName}Map">
        <include refid="${ClassName}Vo" />
        where ${tableAlias}.$tablePrimaryKey = #{$primaryKey}
    </select>

    <insert id="insert${ClassName}" useGeneratedKeys="true" keyProperty="$primaryKey">
        insert into $tableName (
            <trim suffixOverrides=",">
#foreach ($column in $columnList)
                <if test="$column.javaField != null#if($column.javaType == 'String') and $column.javaField != ''#end">$column.columnName,</if>
#end
            </trim>
        ) values (
            <trim suffixOverrides=",">
#foreach ($column in $columnList)
                <if test="$column.javaField != null#if($column.javaType == 'String') and $column.javaField != ''#end">#{$column.javaField},</if>
#end
            </trim>
        )
    </insert>

    <update id="update${ClassName}By$PrimaryKey">
        update $tableName
        <set>
#foreach ($column in $columnList)
#if ($column.javaField != $primaryKey)
            <if test="$column.javaField != null#if($column.javaType == 'String') and $column.javaField != ''#end">$column.columnName = #{$column.javaField},</if>
#end
#end
        </set>
        where $tablePrimaryKey = #{$primaryKey}
    </update>

    <delete id="delete${ClassName}By$PrimaryKey">
        delete from $tableName where $tablePrimaryKey = #{$primaryKey}
    </delete>

    <delete id="delete${ClassName}By${PrimaryKey}s">
        delete from $tableName where $tablePrimaryKey in
        <foreach item="$primaryKey" collection="array" open="(" separator="," close=")">
            #{$primaryKey}
        </foreach>
    </delete>

</mapper>
