<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.mapper.${ClassName}Mapper">

    <resultMap id="${ClassName}Map" type="${packageName}.entity.$ClassName">
#foreach ($column in $columnList)
        <result property="$column.javaField" column="$column.columnName" />
#end
    </resultMap>

    <sql id="${ClassName}Vo">
        select#foreach ($column in $columnList) ${tableAlias}.$column.columnName#if ($foreach.count != $columnList.size()),#end#end
        from $tableName $tableAlias
    </sql>

</mapper>
